<section id="intro" aria-labelledby="home-about" class="row expanded">
      <div class="intro-wrapper medium-6 column">
        {{post.get_content}}
      </div>
      <div class="intro-img-wrapper medium-6 column show-for-medium"></div>
</section>