@use '../_mixins' as *;
@use '../_globals' as *;

header {
  position: relative;
  #logo{
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    max-width: 125px;
    z-index: 6;
    @include breakpoint(large) {
      max-width: 200px;
      top: 5rem;
      left: 5vw;
      transform: translateX(0);
    }
  }
  #top-bar {
    background-color: var(--primary);
    width: 100%;
    z-index: 4;
    position: relative;
    @include breakpoint(large) {
      position: absolute;
      bottom: 0;
      top: auto;
      &.sticky {
        position: fixed!important;
        top: 0;
        bottom: auto;
        ul.is_subnav {
          top: 100%!important;
          bottom: auto!important;
        }
      }
    }
    .inner {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin: 0 auto;
      position: relative;
      height: 140px;
      text-align: right;
      @include breakpoint(large) {
        justify-content: space-between;
        height: auto;
      }
      nav {
        display:none;
        @include breakpoint(large) {
          display: flex;
          justify-content: flex-end;
        }
        ul {
          list-style: none;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          margin: 0;
          li {
            position: relative;
            a {
              font-size: 1rem;
              padding: 0.7rem 0.5rem;
              color: var(--light);
              text-decoration: none;
              font-weight: 200;
              padding: 1rem 0.5em;
              display: inline-block;
              &:hover {
                color: var(--secondary);
              }
            }
            &.cta > a {
              background-color: var(--light);
              color: var(--dark);
              margin-left: 0.75rem;
              padding: 0.5rem 0.75em;
            }
            &.cta:hover > a {
              background-color: darken($light, 15%);
            }
            ul.is_subnav {
              position: absolute;
              transition: opacity 0.2s ease;
              opacity: 0;
              padding: 0.5rem;
              bottom: 100%;
              left: 0;
              align-items: flex-start;
              pointer-events: none;
              transition-delay: 0.3s;
              flex-direction: column;
              background-color: rgba(94, 131, 156, 0.6);
              z-index: 3;
              &.is_open {
                opacity: 1;
                pointer-events: auto;
                transition-delay: 0s;
                
              }
                a {
                  text-transform: none;
                  white-space: nowrap;
                  margin: 0;
                  padding: 0.25rem 0.5rem;
                }
              }
          }
        }
      }

      #morelinks {
        padding-right: 9rem;
        display: none;
        @include breakpoint(large) {
          display: block;
        }
        a {
          color: var(--light);
          text-decoration: none;
          margin-left: 0.5rem;
          &:hover {
            color: var(--secondary);
          }
          &.phone {
            font-weight: 100;
          }
        }
      }

      #menuicon {
        position: absolute;
        right: 2rem;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        @include breakpoint(large) { display: none; }
        i {
          color: var(--light);
          transition: $transition;
          font-size: 1.75rem;
          padding: 0.25em;
          cursor: pointer;
          &:hover {
            color: var(--secondary);
          }
        }
      }
    }
  }

  #headerimage, #mobile-headerimage {
    height: 100vh;
    .swiper-slide {
      position: relative;
      background-size: cover;
      background-position: center;
      .slide_text {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        bottom: 3rem;
        width: 100%;
        text-align: center;
        @include breakpoint(large) {
          bottom: 50%;
          transform: translateY(50%);
          left: 15%;
          width: auto;
          text-align: left;
        }
        h2 {
          text-transform: uppercase;
          font-weight: 100;
          letter-spacing: 2px;
          line-height: 1.2;
          margin-bottom: 0.3em;
          font-size: 1.75rem;
          @include breakpoint(large) {
            font-size: clamp(1.75rem, 3.25vw, 3.5rem);
          }
        }
        .button {
          text-decoration: none;
          font-size: clamp(1rem, 2vw, 1.25rem);
          font-weight: 100;
        }
      }
    }
    .swiper-button-next, .swiper-button-prev {
      color: #ccc;
      opacity: 0.3;
      mix-blend-mode: difference;
      &::after {
        font-size: 1.5rem;
        @include breakpoint(large) {
          font-size: 2rem;
        }
      }
    }
    .swiper-pagination {
      .swiper-pagination-bullet-active {
        background: var(--secondary);
      }
    }
  }

}