<section aria-label="home block" id="homeblock">

  <div class="top-block">
    <div class="left">
    </div>
    <div class="right">
      <div class="block-content">
        <h2>Look your best <br>on your big day!</h2>
        <a class="button" href="/services/women/">Services</a>
      </div>
    </div>
  </div>

  <div class="bottom-block">
    <div class="right">
    </div>
    <div class="left">
      <div class="block-content">
        <h2>Reveal your <br>natural beauty</h2>
        <a class="button" href="/locations/location/">Location</a>
      </div>
    </div>
  </div>

</section>