{% if custom_header == 1 %} {# if custom header checkbox is selected #}
  {% set bg_img = Image(post.page_title_image).src %}
{% else %} {# if custom header checkbox is NOT selected #}
  {% set img_name = post.page_preset_header < 10 ? '00' ~ (post.page_preset_header + 1) : '0' ~ (post.page_preset_header + 1) %}
  {% set url = 'https://res.cloudinary.com/imaginal-marketing-group/image/upload/' ~ imgset_collection ~ '/' ~ imgset_category ~ '/' ~ img_name %}
  {% set bg_img = url %}
{% endif %}

{% set color_scheme = '' %}
{% set gradient = '' %}
{% if post.header_color_scheme == 'dark' %}
  {% set color_scheme = ' dark-theme' %}
{% endif %}
{% if post.header_gradient == 'light' %}
  {% set gradient = ' light-gradient' %}
{% elseif post.header_gradient == 'dark' %}
  {% set gradient = ' dark-gradient' %}
{% endif %}

<div id="headerimage" style="background-image: url({{ bg_img }})" class="{{ post.header_align }}{{ color_scheme }}{{ gradient }}"></div>
