{% if custom_header == 1 %}
  {% set bg_img = Image(post.page_title_image).src %}
{% elseif default_img %}
  {% set bg_img = default_img %}
{% else %}
  {% set bg_img = preset_header %}
{% endif %}

{% set color_scheme = '' %}
{% set gradient = '' %}
{% if post.header_color_scheme == 'dark' %}
  {% set color_scheme = ' dark-theme' %}
{% endif %}
{% if post.header_gradient == 'light' %}
  {% set gradient = ' light-gradient' %}
{% elseif post.header_gradient == 'dark' %}
  {% set gradient = ' dark-gradient' %}
{% endif %}

<div id="headerimage" style="background-image: url({{ bg_img }})" class="{{ post.header_align }}{{ color_scheme }}{{ gradient }}"></div>
