<section id="ig-wrapper" aria-label="Instagram Feed">
  <div id="ig-feed-wrapper">
    <h2>Social Feed</h2>
    {# uncomment to use instagram feed #}
    {# {{ ig-feed }} #}

    {# Dummy ig feed content #}
    <div id="ig-feed">
      <div class="ig-post"></div>
      <div class="ig-post show-for-medium"></div>
      <div class="ig-post show-for-large"></div>
      <div class="ig-post show-for-large"></div>
    </div>
    
  </div>
</section><!-- end #ig feed -->