
<div id="contact-info" class="row">
  <div class="medium-5 column">
    <h3>VISIT US</h3>
    {{ contact_info }}

    {% include 'components/social_icons.twig' %}

  </div> {# end Visit column #}
  
  <div class="medium-7 column">
    <h3>HOURS</h3>
    {{ hours|raw }}

  </div>{# end Hours column #}
</div> {# end contact row #}