{% extends "base.twig" %}

{% block header %}
	{{ parent() }}
	{% include 'components/headerimage.1.twig' with {'default_img': default_img_url} %}
{% endblock %}

{% block content %}
	<h1>Blog</h1>
	{% for post in posts %}
		{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
	{% endfor %}
	
	{% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
{% endblock %}
