{% extends "base.twig" %}

{% block header %}
	{{ parent() }}
	{% include 'sliders.twig' %}
	{# {% include 'sliders.holiday.twig' %} #}
{% endblock %}

{% block content %}
	{% include 'promos/promos.1.twig' %}
	{# {% include 'promos/promos.2.twig' %} #}
	{# {% include 'promos/promos.3.twig' %} #}
	{# {% include 'promos/promos.4.twig' %} #}
	{# {% include 'promos/promos.5.twig' %} #}
	{# {% include 'promos/promos.6.twig' %} #}
	{# {% include 'promos/promos.7.twig' %} #}
	{# {% include 'promos/promos.8.twig' %} #}
	{# {% include 'promos/promos.9.twig' %} #}
	<div id="intro">
				{# <h1 class="article-h1">{{post.title}}</h1> #}
				<div class="intro-wrapper">
					{{post.get_content}}
				</div>
	</div>
{% endblock %}