	<div id="top-bar" class="">
		<div class="inner">
			<a href="/">
				<img id="logo" src="{{ main_logo_url }}" alt="Logo | Some City, NA" />
			</a>
			<nav id="nav-main" role="navigation">
				{% include "menu.twig" with {'items': menu.get_items} %}
			</nav><!-- #nav -->
			<div id="menuicon"><i class="fa-solid fa-bars"></i></div>
		</div>
	</div>