@use 'mixins' as *;
@use 'globals' as *;

:is(.blog, .search, .single, .archive) section#content {
  #sidebar {
    #sidenav {
      .is_sidenav {
        .blog-sidebar-item {
          margin-bottom: 2rem;
          h2 {
            margin: 0;
          }
          padding-right: 2rem;
          & > ul {
            padding: 0;
            list-style: none;
            li {
              a {
                padding: 0;
              }
            }
          }
        }
      }
    }
  }
  #mobile-subnav {
    ul {
      padding: 0;
    }
    ul.is_mobile_subnav {
      padding: 1rem 2rem 4rem;
      input[type="submit"] {
        margin: 1rem 0 0;
      }
    }
  }

  .post-title {
    margin-bottom: 0.5rem;
  }
  p.post-date {
    margin: 0;
    color: #888;
  }
}