@use 'mixins' as *;
@use 'globals' as *;

section#content #sidebar {
  #sidenav {
    .is_sidenav {
      .blog-sidebar-item {
        margin-bottom: 2rem;
        h2 {
          margin: 0;
        }
        padding-right: 2rem;
        & > ul {
          list-style: none;
          li {
            a {
              padding: 0;
            }
          }
        }
      }
    }
  }
}