@use '../mixins' as *;
@use '../globals' as *;

/* This component will require setting content width to full page and making the sidebar large-3 (25% of the page width) */

#int-promos {
  #promos-wrapper {
    max-width: none;
    margin: 0 auto;
    padding: 0;
    .promo-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2rem;
      text-align: center;
      position: relative;
      aspect-ratio: 1 / 1;
      @include breakpoint(medium) {
        min-height: 250px;
      }
      &:is(:nth-child(2)) {
        padding: 2rem;
        @include breakpoint(medium) {
          padding: 1rem 0.5rem;
        }
        @include breakpoint(large) {
          padding: 2rem;
        }
      }
      @include breakpoint(medium) {
        padding: 1rem 0.5rem;
      }
      @include breakpoint(large) {
        padding: 2rem;
      }
      a {
        text-decoration: none;
        font-weight: 300;
      }
      .photo {
        width: 100%;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        transition: transform 0.2s ease;
        &::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background-color: transparent;
          transition: $transition;
          opacity: 0.5;
        }
        &:hover::after {
          background-color: var(--primary);
        }
      }
      &:nth-child(1) {
          background-color: lighten($secondary, 10%);
      }
      &:nth-child(2) {
          background-color: darken($secondary, 10%);
      }
      &:nth-child(3) {
        background-color: lighten($secondary, 20%);
      }
      &:nth-child(4) {
          background-color: $secondary;
      }
      .promo_text {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        color: var(--light);
        font-weight: 100;
        pointer-events: none;
        h3 {
          color: var(--light);
          font-weight: 100;
          font-size: clamp(1.25rem, 2.5vw, 1.75rem);
          display: block;
          text-transform: uppercase;
          margin: 0.5rem;
        }
      }
    }
  }
}