<div id="mobile-menu">
    <i class="fa-solid fa-xmark"></i>
    {% include "menu.twig" with {'items': menu.get_items, 'icon': '<i class="fa-solid fa-caret-down"></i>'} %}
</div>

<div id="mobile-overlay"></div>