@use '../mixins' as *;
@use '../globals' as *;

footer {
  #footer-top {
    #footer-top-left {
      background-color: var(--primary);
      height: 450px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--light);
      font-size: 1.15rem;
      line-height: 1.6;
      a {
        color: var(--light);
        font-weight: 300;
        &:hover {
          color: var(--secondary);
        }
      }
    }
    #footer-top-right {
      padding: 0;
    }
  }
  #footer-bottom {
    text-align: center;
    padding: 0.5rem;
    a:focus {
      outline: 3px solid var(--secondary);
    }
  }
}